<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Register</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 1px solid rgb(56, 56, 59);
            padding: 20px;
            padding-left: 50px;
        }

        button {
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            width: 10%;
        }

        button:hover {
            opacity: 0.8;
        }

        h3 {
            border: 1px solid rgb(56, 56, 59);
            padding: 10px;
            text-align: center;
            background-color: #4CAF50;
            margin: auto;
        }

        label {
            padding: 10px;
        }

        .btns {
            padding: 20px;
            text-align: right;
        }

        h4 {
            font-size: 20px;
        }

        .container {
            padding: 5px;
            width: 1200px;
            height: 250px;
        }
    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h3>หน้าจัดการข้อมูลผู้ใช้</h3>
        <div class="row-6">
            <form id="myForm">
                <div class="row">
                    <h4>ข้อมูลผู้ใช้:</h4>
                    <div class="col">
                        <p></p>
                        <p>ชื่อ: <%= detail %></p>
                        <p>ตำแหน่ง: <%= detail3 %></p>
                    </div>
                    <div class="col">
                        <p>นามสกุล : <%= detail1 %></p>
                    </div>
                </div>
                <div class="btns">
                    <a class="btn btn-success" type="button" href="/del_emp/<%= detail2 %>">ตกลง</a>
                    <a class="btn btn-danger" type="button" href="/main">ยกเลิก</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>