<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Register</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 1px solid rgb(56, 56, 59);
            padding: 20px;
            padding-left: 50px;
        }

        button {
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            width: 10%;
        }

        button:hover {
            opacity: 0.8;
        }

        h3 {
            border: 1px solid rgb(56, 56, 59);
            padding: 10px;
            text-align: center;
            background-color: #4CAF50;
            margin: auto;
        }

        label {
            padding: 10px;
        }

        .btns {
            padding: 20px;
            text-align: right;
        }

        h4 {
            font-size: 20px;
        }

        .container {
            padding: 5px;
            width: 1200px;
            height: 250px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h3>หน้าจัดการข้อมูลผู้ใช้</h3>
        <div class="row-6">
            <form id="myForm" action="http://localhost:3000/edit_emp" method="POST">
                <input value="<%= detail2 %>" id="id" name="id" hidden>
                <div class="row">
                    <h4>ข้อมูลผู้ใช้:</h4>
                    <div class="col">
                        <label for="name"><span>ชื่อ:</span>
                            <input type="text" class="input-field" id="name" name="name" value="<%= detail %>" required=''/></label>
                        <label for="position"><span>ตำแหน่ง:</span>
                            <input type="text" class="input-field" id="position" name="position" value="<%= detail3 %>" required=''/></label>
                        <label for="total_sale"><span>ยอดขายทั้งหมด(บาท):</span>
                            <input type="number" class="input-field" id="total_sale" name="total_sale" value="<%= detail5 %>" required=''/></label>
                    </div>
                    <div class="col">
                        <label for="surname"><span>สกุล:</span>
                            <input type="text" class="input-field" id="surname" name="surname" value="<%= detail1 %>" required=''/></label>
                        <label for="salary"><span>เงินเดือน(บาท):</span>
                            <input type="number" class="input-field" id="salary" name="salary" value="<%= detail4 %>" required=''/></label>
                    </div>
                </div>
                <div class="row">
                    <h4>ข้อมูลเข้าสู่ระบบ:</h4>
                    <div class="col">
                        <label for="user"><span>Email:</span>
                            <input type="text" class="input-field" name="user" value="<%= detail6 %>"" required=''/></label>
                    </div>
                    <div class="col">
                        <label for="password"><span>Password:</span>
                            <input type="text" class="input-field" name="password" value="<%= detail7 %>"" required=''/></label>
                    </div>
                </div>
                <div class="btns">
                    <input class="btn btn-success" type='submit' value='ตกลง'>
                    <a class="btn btn-danger" type="button" href="/main">ยกเลิก</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>