<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Main Meun</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            padding: 10px;
            background-color: white;
            border: 2px solid black;
        }

        footer {
            padding: 31px;
            margin: auto;
            background-color: #4CAF50;
            display: block;
        }

        .header .imglogo {
            width: 80px;
        }

        .header .imguser {
            width: 100px;
            padding-right: 20px;
        }

        .header-right {
            float: right;
        }

        a {
            padding-right: 10px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            border: 1px solid #555;
        }

        li a {
            display: block;
            color: #000;
            padding: 20px 20px;
            text-decoration: none;
        }

        li {
            text-align: center;
            border-bottom: 1px solid #555;
        }


        li a.active {
            background-color: #4CAF50;
            color: white;
        }

        li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

        li a.nav-link {
            padding: 20px 20px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#info").click(function () {
                $("#div1").load("member");
            });
        });
    </script>
</head>

<body>
    <div class="header">
        <img src="../img/green-coffee-icon-vector-4310594 (1).jpg" class="rounded imglogo" alt="logo">
        <div class="header-right">
            <img src="../img/images (1).jpg" class="rounded imguser" alt="user">
            <%= detail %>
        </div>
    </div>


    <div class="w3-cell">
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="active" href="">Home</a></li>
                <li class="nav-item"><a class="nav-link" href=""></a>.</li>
                <li class="nav-item"><a class="nav-link" href=""></a>.</li>
                <li class="nav-item"><a class="nav-link" href=""></a>.</li>
                <li class="nav-item"><a class="nav-link disabled" href='#'>จัดการข้อมูลผู้ใช้</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="info" href='#'>ข้อมูลสมาชิก</a></li>
                <li class="nav-item"><a class="nav-link" href='http://localhost:3000/out'>ออกจากระบบ</a></li>
            </ul>
        </nav>
    </div>

    <div class="w3-container w3-cell" id="div1">
    </div>

    <footer>
        <p></p>
    </footer>
</body>

</html>