<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Member</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .teaser {
            border: 1px solid black;
            text-align: center;
            background-color: #4CAF50;
            height: 50px;
        }

        .divcon {
            display: flex;
            justify-self: space-between;
            align-items: center;
            border: 1px solid black;
            height: 380px;
        }

        .col1 {
            width: 400px;
            height: 300px;
            padding: 20px;
            padding-top: 5px;
            margin: 10px;
        }

        .col2 {
            width: 600px;
            height: 300px;
            padding: 20px;
            margin: 10px;
        }

        .container {
            padding: 5px;
            width: 1200px;
            height: 250px;
        }

        h3 {
            padding: 10px;
            margin: auto;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".numbers").each(function () {
                $(this).format({ format: "#,###", locale: "us" });
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="teaser">
            <h3>หน้าจอสมาชิก</h3>
        </div>
        <div class="divcon">
            <div class="col1">
                <p>ชื่อ-สกุล: <%= detail %>
                </p>
                <p>รหัสมาชิก: <%= detail2 %>
                </p>
                <p>ตำแหน่ง: <%= detail3 %>
                </p>
                <p class="numbers">เงินเดือน: <%= detail4.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %> บาท
                </p>
                <p class="numbers">ยอดขายทั้งหมด: <%= detail5.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %> บาท
                </p>
            </div>
            <div class="col2">
                <p>Login วัน-เวลาล่าสุด: <%= detail6.toLocaleString('en-CA', { hour12: false }) %>
                </p>
                <p>Logout วัน-เวลาล่าสุด: <%= detail7.toLocaleString('en-CA', { hour12: false }) %>
                </p>
                <p>จำนวนครั้งที่เข้าสู่ระบบ: <%= detail8 %> ครั้ง</p>
            </div>
        </div>
    </div>
</body>

</html>