<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Search Employee</title>
    <style>
        .container {
            padding: 5px;
            width: 1200px;
            height: 250px;
        }

        .teaser {
            border: 1px solid black;
            text-align: center;
            background-color: #4CAF50;
            height: 50px;
            font-size: 25px;
        }

        .row {
            padding: 10px;
        }

        .col1 {
            text-align: right;
            padding-top: 15px;
        }

        .big {
            border: 1px solid black;
            height: 380px;
        }

        .table {
            padding: 10px;
        }

        .fh {
            padding: 20px;
        }

        #search {
            text-align: center;
        }

        .col2 {
            padding-top: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#add2").click(function () {
                $("#div1").load("register");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#pull').click(function () {
                var emp = document.form.search.value
                if (emp === '') {
                    $("#div1").load("search")
                } else {
                    $("#div1").load("./search/" + emp)
                }
            });
        });
    </script>
    <script>
        function editMember(id){
            $('#div1').load('./edit/'+id)
        }
    </script>
    <script>
        function delMember(id){
            $('#div1').load('./del/'+id)
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="teaser">หน้าจัดการข้อมูลผู้ใช้</div>
        <div class="big">
            <div class="row">
                <div class="col col1">
                    ค้นหาข้อมูลผู้ใช้ :
                </div>
                <div class="col form-outline">
                    <form id="form" name="form">
                        <div class="row">
                            <div class="col-8">
                                <input type="text" id="search" class="form-control" placeholder="ค้นหาข้อมูล"
                                    name="search" />
                            </div>
                            <div class="col">
                                <a id="pull" class="btn  btn-secondary">ค้นหา</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col col2">
                    <a id="add2" class="btn  btn-success">เพิ่มผู้ใช้</a>
                </div>
            </div>
            <div class="row fh">
                <table id="tb" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อ</th>
                            <th>สกุล</th>
                            <th>ตำแหน่ง</th>
                            <th>เงินเดือน</th>
                            <th>ยอดขายรวม</th>
                            <th>แก้ไข</th>
                            <th>ลบ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(mst_employee.length){ for(var i=0; i< mst_employee.length; i++) {%>
                            <tr>
                                <td>
                                    <%= (i+1) %>
                                </td>
                                <td>
                                    <%= mst_employee[i].name %>
                                </td>
                                <td>
                                    <%= mst_employee[i].surname %>
                                </td>
                                <td>
                                    <%= mst_employee[i].position %>
                                </td>
                                <td>
                                    <%= mst_employee[i].salary.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,' ) %>
                                </td>
                                <td>
                                    <%= mst_employee[i].total_sale.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,' )
                                        %>
                                </td>
                                <td>
                                    <a id="edit" class="btn btn-sm btn-primary" href="#" onclick="editMember('<%=mst_employee[i].id_employee%>')">แก้ไข</a>
                                </td>
                                <td>
                                    <a id="del" class="btn btn-sm btn-danger" href="#" onclick="delMember('<%=mst_employee[i].id_employee%>')">ลบ</a>
                                </td>
                            </tr>
                            <% } }else{ %>
                                <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>