<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid rgb(73, 73, 196);
            padding: 20px;
            padding-left: 50px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
        }

        button:hover {
            opacity: 0.8;
        }

        .container {
            padding: 50px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row-6">
                <form action="http://localhost:3000/Login" method="GET">
                    <div class="row">
                        <div class="col-2 text-center">
                            <label>ไม่เป็นสมาชิก</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit">Login</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</body>

</html>