html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			br 
			form(action='' method='POST')
				.form-group
					label(for='post_name') Name 
					input#post_name.form-control(type='text' name='name' placeholder='Name' required='')
					label(for='post_city') City 
					textarea#post_city.form-control(type='text' name='city' placeholder='City' required='')
					br
					input.btn.btn-success(type='submit' value='ADD')
			
					a.btn.btn-info(href='/home') Back