html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			h3 Authors  
			p
				a.btn.btn-primary(href='/add') Add New
			
			table.table.table-bordered
				tr
					th.text-center(width='5%') #
					th.text-left(width='35%') Name
					th.text-left(width='50%') City 
					th.text-left(width='5%') Edit
					th.text-left(width='5%') Delete
				for at in authors
					tr
						td=at.id 
						td=at.name
						td=at.city 
						td
							a.btn.btn-warning(href='edit/' + at .id) Edit
						td
							a.btn.btn-danger(href='delete/' + at .id) Delete